.container {
    width: 996px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
    padding-left: 6px;
    padding-top: 6px;
}

.imageWrapper {
    padding-left: 3px;
}

.discountProcent {
    width: 42px;
    height: 16px;
    background-image: url(../../public/discountBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald';
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3px;
}

.basketTitle {
    width: 250px;
    font-family: 'Golos';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #304250;
    text-align: left;
}

.basketPrice {
    font-family: 'Golos';
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #B0BCC9;
}

.basketQuantityWrapper {
    width: 99px;
    height: 34px;
    background: #F2F5FB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.basketQuantityBtn {
    cursor: pointer;
    background: transparent;
    border: none;
    font-family: 'Din';
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #8797A4;
}

.basketQuantityNumber {
    font-family: 'Din';
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #8797A4;
}

.totalPriceContainer {
    display: flex;
    flex-direction: column;
}

.totalOldPrice {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #B0BCC9;
}

.totalPriceWrapper {
    display: flex;
    align-items: flex-start;
    width: 80px;
}

.totalPriceRub {
    font-family: 'Oswald';
    font-size: 24px;
    line-height: 100%;
    color: #304250;
}

.totalPriceKop {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: #304250;
}

.deleteBasketBtn {
    background-color: transparent;
    border: none;
    align-self: flex-start;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 700px;
        justify-content: flex-start;
        gap: 0 15px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 525px;
    }
}