.catList {
    display:flex;
    flex-wrap: wrap;
    gap: 12px 12px;
}

.catLink {
    display: block;
    width: inherit;
    height: inherit;
    padding-left: 16px;
    padding-top: 14px;    
}

.catTitle {
    width: 240px;
    font-family: 'Golos';
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    color: #304250;
}

@media (max-width: 1024px) {
    .catList {
        gap: 12px 15px;
    }
}

@media (max-width: 768px) {
    .catList {
        gap: 10px 10px;
    }
}