.menuButtonWrapper {
    display: flex;
    align-items: center;

    cursor: pointer;
    justify-content: space-between;
}

.menuImgTitleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonMenu {
    background-color: transparent;
    font-family: 'Golos';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #304250;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuTitle {
    margin-left: 8px;
}

.contentDefault {
    transition: max-height .3s ease;
    overflow-y: hidden;
    margin-bottom: 8px;
    margin-top: 8px;
}

.contentDefault:not(.contentActive) {
    max-height: 0 !important;
}

.arrayDown {
    transform: rotate(180deg);
}

.arrayUp {
    transition: transform .3s ease;
}