.basketMainContainer {
    display: flex;
    gap: 0 60px;
}

.mainTitle {
    font-family: 'Golos';
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    color: #304250;
    margin-bottom: 60px;
}

.goodsInBasketList {
    margin-bottom: 65px;
}

.cardWrapper {
    display: flex; 
    margin-bottom: 60px;
    height: 363px;
    overflow: auto;
    gap: 0 12px;
}

.cardWrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari и Opera */
}

.cardWrapper {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

.cardItem {
    height: 363px;
    width: 276px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 14px;
    flex-shrink: 0;
}

.orderTitle {
    font-family: 'Golos';
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    color: #304250;
    margin-bottom: 25px;
}

@media (max-width: 1024px) {
    .basketMainContainer {
        gap: 0 15px;
    }  
}

@media (max-width: 480px) {
    .basketMainContainer {
        display: block;
    }  

    .cardWrapper {
        height: inherit;
    }

    .cardItem {
        height: 265px;
        width: 190px;
    }
}