
.categoriesLink {
    display: block;
    width: 347px;
    height: 187px;
    border-radius: 12px;
    margin-bottom: 12px;
    padding-left: 16px;
    padding-top: 14px;
}

.categoriesLink:not(:nth-child(4n)) {
    margin-right: 12px;
}

.categoriesLinkTitle {
    width: 240px;
    font-family: 'Golos';
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    color: #304250;
}