@font-face {
  font-family: 'Golos';
  src: url('../public/fonts/Golos/Golos-UI_Regular.woff');
  src: url('../public/fonts/Golos/Golos-UI_Regular.woff2');
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: 'Golos Medium';
  src: url('../public/fonts/Golos/Golos-UI_Medium.woff');
  src: url('../public/fonts/Golos/Golos-UI_Medium.woff2');
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: 'Oswald';
  src: url('../public/fonts/Oswald/oswald-regular.woff');
  src: url('../public/fonts/Oswald/oswald-regular.woff2');
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: 'Oswald';
  src: url('../public/fonts/Oswald/oswald-300.woff');
  src: url('../public/fonts/Oswald/oswald-300.woff2');
  font-style: normal; 
  font-weight: 300; 
}

@font-face {
  font-family: 'Din';
  src: url('../public/fonts/DIN/DINPro-regular.woff');
  src: url('../public/fonts/DIN/DINPro-Regular.woff2');
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: 'Din';
  src: url('../public/fonts/DIN/DINPro-Bold.woff');
  src: url('../public/fonts/DIN/DINPro-Bold.woff2');
  font-style: normal; 
  font-weight: 700; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #F2F5FB;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}