
.discountLikeContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.likeButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

.discountProcent {
    width: 59px;
    height: 24px;
    background-image: url(../public/discountBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imageContainer {
    margin-bottom: 5px;
}

.goodCardTitle {
    font-family: 'Golos';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #304250;
    margin-top: 8px;
}

.goodOldPrice {
    font-family: 'Oswald';
    font-weight: 300;
    line-height: 21px;
    color: #B0BCC9;
    text-decoration: line-through;
}

.goodNewPiceWrapper {
    display: flex;
    align-items: flex-start;
}

.goodNewPriceRub {
    font-family: 'Oswald';
    font-size: 30px;
    line-height: 100%;
    color: #304250;
}

.goodNewPriceKop {
    font-family: 'Oswald';
    font-weight: 300;
    line-height: 21px;
    color: #304250;
}

.goodBasketContainer {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.orderButton {
    width: 76px;
    height: 34px;
    background: linear-gradient(109.23deg, #BFE470 -22.36%, #61A430 92.46%);
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.bottomWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 110px;
}

@media (max-width: 768px) {
    .goodCardTitle {
        font-size: 14px;
        margin-top: 6px;
    }
    
    .bottomWrapper {
        min-height: 95px;
    }
}

@media (max-width: 480px) {
    .discountProcent {
        width: 48px;
        height: 18px;
        font-size: 16px;
    }

    .rateNumber {
        font-family: 'Golos';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #304250;
    }

    .goodCardTitle {
        margin-top: 4px;
    }

    .goodOldPrice {
        font-size: 10px;
        line-height: 15px;
        text-decoration: line-through;
        color: #B0BCC9;
    }

    .goodNewPriceRub {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #304250;
    }
    
    .goodNewPriceKop {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        color: #304250;
    }

    .bottomWrapper {
        min-height: 85px;
    }

    .orderButton {
        width: 34px;
        height: 34px;
        background: linear-gradient(109.23deg, #BFE470 -22.36%, #61A430 92.46%);
        border-radius: 8px;
    }

}