.cardWrapper {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 60px;
    height: 363px;
    overflow: auto;
}

.cardItem {
    height: 363px;
    width: 276px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 14px;
    flex-shrink: 0;
    margin-right: 12px;
}

/* .cardItem:not(:nth-child(5n)) {
    margin-right: 12px;
} */

.cardWrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari и Opera */
}

.cardWrapper {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

.subtitleWrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;
}

.subtitle {
    font-family: 'Golos';
    font-size: 30px;
    line-height: 110%;
    color: #304250;
    font-weight: normal;
    line-height: 110%;
    margin-right: 15px;
}

.bannersContainer {
    height: 411px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
    position: relative;
    gap: 0 10px;
}

.showAllLink {
    font-family: 'Din';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #61A430;
}

.categoriesWrapper {
    margin-bottom: 85px;
}


.navBtnContainer {
    width: 86px;
    height: 36px;
    border: 2px solid #E2E9EE;
    border-radius: 70px;
    display: flex;
    position: absolute;
    bottom: 17px;
    right: 38px;
    z-index: 1000;
}

.swiperBtn {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .bannersContainer {
        height: 370px;
    }
}

@media (max-width: 1024px) {
    .bannersContainer {
        height: 285px;
        gap: 0 5px;
    }  
}

@media (max-width: 768px) {
    .bannersContainer {
        height: 225px;
        margin-bottom: 45px;  
    } 
    .cardItem {
        width: 236px;
        height: 323px;
    }
}

@media (max-width: 480px) {
    .bannersContainer {
        display: block;
        height: inherit;
    }

    .cardWrapper {
        height: inherit;
    }

    .cardItem {
        width: 165px;
        height: 250px;
        padding: 8px;
    }

    .categoriesWrapper {
        margin-bottom: 20px;
    }
}

@media (max-width: 375px) {
    .subtitle {
        font-size: 23px;
    }

    .showAllLink {
        font-size: 12px;
    }    
}