
.discountLikeContainer {
    display: flex;
    justify-content: space-between;
}

.discountProcent {
    width: 42px;
    height: 15px;
    background-image: url(../public/discountBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald';
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.goodCardTitle {
    font-family: 'Golos';
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #304250;   
}

.goodOldPrice {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #B0BCC9;
    text-decoration: line-through;
}

.goodNewPiceWrapper {
    display: flex;
    align-items: flex-start;
}

.goodNewPriceRub {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #304250;
}

.goodNewPriceKop {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: #304250;
}

.goodBasketContainer {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.orderButton {
    width: 34px;
    height: 34px;
    background: linear-gradient(109.23deg, #BFE470 -22.36%, #61A430 92.46%);
    border-radius: 8px;
    border: none;
}

.likeButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

.bottomWrapper {
    display: flex;
    flex-direction: column;
    min-height: 85px;
}

@media (max-width: 1024px) {
    .bottomWrapper {
        justify-content: space-between;
    }
}
