.mainContainer {
    display: flex;
    justify-content: space-between;
    width: 1135px;
}

.settingsContainer {
    width: 708px;
    height: 707px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 80px;
    padding: 75px;
}

.settingsTitle {
    font-family: 'Golos';
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #304250;
    margin-bottom: 12px;
}

.settingsInputWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.settingsInput {
    width: 272px;
    height: 46px;
    border: 1px solid #E1E7EE;
    border-radius: 8px;
    padding-left: 15px;
}

.settingsInputWrapperCheckbox {
    width: 564px;
    height: 99px;
    background: #F2F5FB;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.settingsSubmitBtn, .settingsCancelBtn {
    width: 272px;
    height: 56px;
    border-radius: 8px;
    font-family: 'Golos';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}

.settingsSubmitBtn {
    background: #61A430;
    border: none;
    color: #FFFFFF;
}

.settingsCancelBtn {
    background: transparent;
    border: 1px solid #61A430;
    color: #61A430;
}

.addressContainer {
    width: 343px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addressSubtitle {
    font-family: 'Golos';
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    color: #304250;
    margin-bottom: 20px;
}