.mainContainer {
    display: flex;
    gap: 0 70px;
}

.settingsContainer {
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 80px;
    padding: 75px;
    width: 70%;
}

.settingsTitle {
    font-family: 'Golos';
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #304250;
    margin-bottom: 12px;
}

.settingsInputWrapper {
    display: flex;
    margin-bottom: 40px;
    gap: 0 12px;
}

.settingsInput {
    width: 50%;
    height: 46px;
    border: 1px solid #E1E7EE;
    border-radius: 8px;
    padding-left: 15px;
}

.settingsInputWrapperCheckbox {
    width: 564px;
    height: 99px;
    background: #F2F5FB;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.settingsSubmitBtn, .settingsCancelBtn {
    width: 50%;
    height: 56px;
    border-radius: 8px;
    font-family: 'Golos';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}

.settingsSubmitBtn {
    background: #61A430;
    border: none;
    color: #FFFFFF;
}

.settingsCancelBtn {
    background: transparent;
    border: 1px solid #61A430;
    color: #61A430;
}

.addressContainer {
    height: 60px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 0 15px;
}

.addressWrapper {
    width: 30%;
}

.addressSubtitle {
    font-family: 'Golos';
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    color: #304250;
    margin-bottom: 20px;
}

@media (max-width: 1280px) {
    .mainContainer {
        gap: 0 30px;
    }

    .settingsContainer {
        padding: 60px;
    }

    .settingsInputWrapperCheckbox {
        width: 525px;
    }
}

@media (max-width: 1024px) {
    .settingsContainer {
        padding: 25px;
    }

    .settingsInputWrapperCheckbox {
        width: 430px;
    }

    .addressSubtitle {
        font-size: 20px;
    }

    .addressContainer {
        padding: 10px;
    }

    .userAddress {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .mainContainer {
        display: block;
    }

    .settingsInputWrapperCheckbox {
        width: 403px;
    }

    .settingsContainer, .addressWrapper {
        width: inherit;
    }

    .settingsContainer {
        margin-bottom: 25px;
    }

    .addressContainer {
        padding: 20px;
        justify-content: center;
    }
}